build:
  stage: build
  script:
    - imagefile=$(nix-build dockerimage.nix)
    - sudo docker rmi keepbooks:latest
    - sudo docker load < $imagefile
    - sudo docker tag keepbooks:latest $HOST_REGISTRY/keepbooks:latest
    - sudo docker login -u $USER_REGISTRY -p $PW_REGISTRY $HOST_REGISTRY
    - sudo docker push $HOST_REGISTRY/keepbooks:latest
